@model BloodAlliance.Models.ZdravstvenaHistorija

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<h1>Create</h1>

<h4>ZdravstvenaHistorija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BolestiRespiratornogSistema" /> @Html.DisplayNameFor(model => model.BolestiRespiratornogSistema)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SrcaniProblemi" /> @Html.DisplayNameFor(model => model.SrcaniProblemi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PolnoPrenosiveBolesti" /> @Html.DisplayNameFor(model => model.PolnoPrenosiveBolesti)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HormonalniPoremecaji" /> @Html.DisplayNameFor(model => model.HormonalniPoremecaji)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Secer" /> @Html.DisplayNameFor(model => model.Secer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HronicneBolesti" /> @Html.DisplayNameFor(model => model.HronicneBolesti)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NervniProblemi" /> @Html.DisplayNameFor(model => model.NervniProblemi)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
