@model BloodAlliance.Models.ZdravstvenaHistorija

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ZdravstvenaHistorija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BolestiRespiratornogSistema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BolestiRespiratornogSistema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcaniProblemi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcaniProblemi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolnoPrenosiveBolesti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolnoPrenosiveBolesti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HormonalniPoremecaji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HormonalniPoremecaji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HronicneBolesti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HronicneBolesti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NervniProblemi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NervniProblemi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ZdravstvenaHistorijaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
