@model BloodAlliance.Models.ZdravstvenaHistorija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZdravstvenaHistorija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BolestiRespiratornogSistema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BolestiRespiratornogSistema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrcaniProblemi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrcaniProblemi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolnoPrenosiveBolesti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolnoPrenosiveBolesti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HormonalniPoremecaji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HormonalniPoremecaji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HronicneBolesti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HronicneBolesti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NervniProblemi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NervniProblemi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ZdravstvenaHistorijaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
