@model BloodAlliance.Models.Donor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmbg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmbg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrvnaGrupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrvnaGrupa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RhFaktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RhFaktor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojDarivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojDarivanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TjelesnaTezina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TjelesnaTezina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MjestoDarivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MjestoDarivanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPosljednjeDonacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPosljednjeDonacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hemoglobin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hemoglobin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrvniPritisak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrvniPritisak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDonora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusDonora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZdravstvenaHistorijaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZdravstvenaHistorijaId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DonorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
